<div class="page">
    <h1>Selection</h1>

    <nav>
        <a href="/brands">
            Shop by Brands
        </a>
        <a href="/users">
            Shop by Users
        </a>
    </nav>

    <div class = "selection">
        {{#each clothes}}
        <div class = "item">
            <a href="/clothing/{{_id}}">
                <img src={{img}}/>
                <h3>{{name}}</h3>
                <p>{{brand}}</p>
                <p>${{price}}</p>
            </a>
        </div>
        {{/each}}
    </div>
    <a href="/clothing/add">
        <button>
            Add New Item
        </button>
    </a>
</div>