<a href="/clothing" class="home">
    Home
</a>
<div class="page">
        <img src="{{brand.logoImg}}">
        <h2>{{brand.name}}</h2>
        <h3>{{brand.country}}</h3>
        <p>{{brand.numberOfItems}} Listings</p>

        <div class="selection">
            {{#each clothes}}
                <div class="item">
                    <img src={{img}}/>
                    <h3>{{name}}</h3>
                    <p>${{price}}</p>
                </div>
            {{/each}}
        </div>
        
    <form action="/brands/{{brand._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Brand"/>
    </form>

    <a href="/brands/edit/{{brand._id}}">
        <button>
            Edit Brand
        </button>
    </a>
</div>
